<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Информация об аккаунте</title>
    <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }
        .container {
            border: 1px solid black;
            padding: 20px;
        }
    </style>
</head>
<body>
<div class="container">
    <div th:if="${email}">
        <div th:if="${param.success}">
            <div style="color: green; text-align: center;">Почта подтверждена.</div>
        </div>
        <div th:if="${param.confirm}">
            <div style="color: yellow; text-align: center;">Проверьте почту и перейдите по ссылке.</div>
        </div>
        <p>Email: <span th:text="${email}"/></p>
        <div th:if="${!emailVerified}">
        <form th:action="@{/store/email/send-confirm}" th:method="POST">
            <input type="submit" value="Подтвердить почту"/>
        </form>
        </div>
        <form th:action="@{/store/email/new}" th:method="GET">
            <input type="submit" value="Изменить почту"/>
        </form>
    </div>
    <div th:if="${email == null}">
        <p>Добавить email:</p>
        <form th:action="@{/store/email/new}" th:method="GET">
            <input type="submit" value="Добавить почту"/>
        </form>
    </div>
    <br/>
    <form th:action="@{/store/admin/update/password}" th:method="GET">
        <input type="submit" value="Изменить пароль"/>
    </form>
    <br/>
    <form th:action="@{/store/admin}" th:method="GET">
        <input type="submit" value="Назад"/>
    </form>
</div>
</body>
</html>