<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<form th:action="@{/login}" th:method="POST" enctype="multipart/form-data">
    <div style="color: black; text-align: center;">Вход в панель администратора.</div>
    <div th:if="${param.error}">
        <div style="color: red; text-align: center;">Неверный логин или пароль.</div>
    </div>
    <div th:if="${param.logout}">
        <div style="color: green; text-align: center;">Вы вышли из панели администратора.</div>
    </div>
    <div th:if="${param.resetRequest}">
        <div style="color: green; text-align: center;">Запрос на сброс пароля отправлен.</div>
    </div>
    <div><label> Логин: <input type="text" name="username"/> </label></div>
    <div><label> Пароль: <input type="password" name="password"/> </label></div>
    <a href="/store/password/reset/request">Забыли пароль?</a>
    <br/>
    <div><input type="submit" value="Войти"/></div>
</form>
</body>
</html>